<% if paginated_collection.respond_to?(:current_page) %>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="pagination-info">
        Showing <%= page_entries_info paginated_collection, model: model_name %>
      </div>
    </div>
    <div class="col-md-6">
      <nav aria-label="Page navigation" class="d-flex justify-content-end">
        <%= paginate paginated_collection,
            theme: 'bootstrap_5',
            nav_class: 'pagination justify-content-end mb-0',
            previous_label: '<i class="bi bi-chevron-left"></i>'.html_safe,
            next_label: '<i class="bi bi-chevron-right"></i>'.html_safe %>
      </nav>
    </div>
  </div>
<% end %>